body {
    font-family:Algerian;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #86d7e7;
}
header {
    background: #0e0d0d;
    color: #d9c2c2;
    padding: 30px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    text-align: center;
    margin: 50px 0;
}
.button {
    display: inline-block;
    background-color: #474236;
    color: #cce4d9;
    padding: 20px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;


}
.button:hover {
    background-color: #3f0404;
}
.content {
    padding: 20px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.images img {
    max-width: 100%;
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.subtitles {
    margin: 20px 0;
    color: rgb(17, 17, 17);
    font-family: Impact, Haettenschweiler, sans-serif;
    text-align: center;
    font-size: 25px;

}
.subtitles h2 {
    color: #630c0c;
    font-family:Berlin Sans FB Demi;
    font-family:hello, sans-serif;
    font-size: 25px;
    color: rgb(107, 11, 11);
    text-align: center;

}
.video {
    text-align: center;
    margin: 50px 0;
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 100%; 
    max-width: 50px; 
    border-radius: 1000px;

    
}
.video video {
    max-width: 1500%;
    padding: 20px 20px;
    height: auto;
    border: 1px solid #e5d7d7;
}
.text {
    margin: 20px 0;
}
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.TEXTO{
    color: #f6f1f1;
    padding: 10px 0;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
.fondo{
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('C1.JPEG') no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    font-size: 30px;
    justify-content: center;
}
